/****MOBILE-FIRST****/

.header__Line,
.header__Nav {
  display: none;
}

.header__Link-Logo {
  display: block;
  text-decoration: none;
}

.header__Logo,
.header__Btn-Menu img,
.header__Btn-Close img {
  display: block;
}

.header__Logo {
  width: 40px;
  height: 40px;
}

.header__Btn-Menu,
.header__Btn-Close {
  display: block;
  appearance: none;
  border: none;
  background-color: transparent;
}

.header__Btn-Menu {
  width: 24px;
  height: 21px;
}

.header__Btn-Close {
  width: 19px;
  height: 19px;
  margin: 0 0 64.95px auto;
}

.header__Container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header__Nav {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: rgb(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  z-index: 1000;
  width: 254px;
  padding: 33.95px 26.45px 0 32px;
  /*transform: translateX(0);*/
  transition: transform 0.35s ease;
}

.header__List-Links {
  list-style: none;
}

.header__Link {
  display: block;
  text-decoration: none;
  color: var(--color-03);
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.header__Number-Page {
  display: inline-block;
  font-weight: 700;
  margin-right: 14px;
}

.header__Item-Link:nth-child(-n + 3) {
  margin: 0 0 32px 0;
}

.header__Nav_Close {
  /*transform: translateX(100%);*/
  display: none;
}

.header_Spacing {
  margin: 0 24px;
}

/****BREAKPOINT 550px to TABLETS*****/
@media screen and (min-width: 550px) {
  .header__Btn-Menu,
  .header__Btn-Close,
  .header__Number-Page {
    display: none;
  }

  .header__Nav_Close {
    display: block;
  }

  .header__Nav {
    position: static;
    height: auto;
    background: rgb(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    width: auto;
    padding: 39px 46px 39px 48px;
    z-index: auto;
  }

  .header__Item-Link:nth-child(-n + 3) {
    margin: 0 0 0 0;
  }

  .Header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 39px;
  }

  .header__List-Links {
    display: flex;
    flex-flow: row nowrap;
    gap: 37px;
  }

  .header__Link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    position: relative;
  }

  .header__Link:hover::after,
  .header__Link:focus::after,
  .header__link_Active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 52px;
  }

  .header__Link:hover::after,
  .header__Link:focus::after {
    background-color: var(--color-03);
    opacity: 0.5;
  }

  .header__link_Active::after {
    background-color: var(--color-03);
  }
}

/*****BREAKPOINT 960px to desktop*****/
@media screen and (min-width: 960px) {
  .header__Link {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .header__Number-Page {
    display: inline-block;
    margin-right: 12px;
  }

  .header__List-Links {
    gap: 48px;
  }

  .header__Nav {
    padding: 39px 165px 38px 123px;
    order: 3;
  }

  .Header::before {
    content: "";
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    height: 1px;
    position: relative;
    margin: 0 -2.3rem 0 10px;
    order: 2;
    z-index: 1;
  }

  .header__Container {
    order: 1;
  }

  .header__Link:hover::after,
  .header__Link:focus::after,
  .header__link_Active::after {
    top: 53.5px;
  }

  .Header {
    margin: 0 0 0 55px;
  }

  .header__Logo {
    width: 48px;
    height: 48px;
  }
}

/*****BREAKPOINT TO 1200px to desktop*****/
@media screen and (min-width: 1200px){
  .Header::before {
    margin: 0 -2.3rem 0 64px;
  }
}