/*****MOBILE-FIRST*****/

.section__List {
  gap: 27px;
  margin: 0 0 20px 0;
  padding: 0 0 11px 0;
}

.section__Button-Destination {
  display: block;
  appearance: none;
  border: none;
  background-color: transparent;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: var(--color-02);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.section__button-destination_Active::after,
.section__Button-Destination:hover::after,
.section__Button-Destination:focus::after {
  content: "";
  display: block;
  width: 100%;
  padding: 8px 0 0 0;
  height: 3px;
  border-bottom: 3px solid var(--color-03);
  position: absolute;
  top: 14px;
}

.section__Button-Destination:hover::after,
.section__Button-Destination:focus::after {
  border-bottom-color: var(--color-04);
}

.section__description-text-destination_Mod {
  text-align: center;
  margin: 1px 0 32px 0;
}

.section__Statistics {
  border-top: 1px solid var(--color-05);
  padding: 32px 0 0 0;
}

.section__subheading-level2-Destination_Mod--Dest {
  display: block;
  text-align: center;
  margin: 0 0 12px 0;
}

.section__title-level3-destination_Mod--Dest {
  text-align: center;
}

.section__subheading-level1-destination_Mod--Text {
  display: block;
  text-align: center;
}

.section__Side-Statistics:nth-child(1) {
  margin: 0 0 32px;
}

.section__Side-Statistics:nth-child(2) {
  margin: 0 0 10px;
}

.section__ilustration-destination_Size {
  /*width: 170px;
    height: 170px;*/
  width: 52%;
  margin: 0 auto 26px auto;
}

/*****BREAKPOINT TO TABLETS 550px*****/
@media screen and (min-width: 550px) {
  .section__Destination {
    padding: 0 0 62px 0;
  }

  .section__ilustration-destination_Size {
    width: 300px;
    height: 300px;
    margin: 0 auto 53px auto;
  }

  .section__Button-Destination {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  .section__button-destination_Active::after,
  .section__Button-Destination:hover::after,
  .section__Button-Destination:focus::after {
    padding: 12px 0 0 0;
    top: 16px;
  }

  .section__List {
    gap: 36px;
    margin: 0 0 32px 0;
    padding: 0 0 15px 0;
  }

  .section__title-level3-destination_Mod--Dest {
    margin: 0 0 8px 0;
  }

  .section__Statistics,
  .section__description-text-destination_Mod {
    max-width: 573px;
  }

  .section__Statistics {
    padding: 28px 0 0 0;
    display: grid;
    grid-template-columns: minmax(min-content, 216px) minmax(min-content, 223px);
    justify-content: center;
    gap: 11px;
    align-items: center;
    margin: 0 auto 0 auto;
  }

  .section__description-text-destination_Mod {
    margin: 1px auto 49px auto;
    padding: 0 11px;
  }

  .section__Side-Statistics:nth-child(1), .section__Side-Statistics:nth-child(2) {
    margin: 0;
  }
}
