.section__Technology {
  padding: 24px 0 48px 0;
}

.section__Ilustration-Technology {
  margin: 0 0 34px 0;
}

.section__Space-Launch {
  gap: 16px;
  margin: 0 0 26px 0;
}

.section__Button-Space-Launch {
  display: block;
  appearance: none;
  border: none;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-03);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 0 0 0 2px;
}

.section__button-space-launch_Active {
  background-color: var(--color-03);
  color: var(--color-01);
}

.section__Button-Space-Launch:hover,
.section__Button-Space-Launch:focus {
  border-color: var(--color-02);
}

.section__subheading-level2-technology_Mod--Text {
  display: block;
  text-align: center;
  margin: 0 0 9px 0;
}

.section__title-level3-technology_Mod--Text {
  text-align: center;
  color: var(--color-03);
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.section__description-text-technology_Mod--Text {
  text-align: center;
  margin: 0 24px 0 24px;
}

.section__Content-Technology {
  margin: 0 0 52px 0;
}

/*.section__Img-Technology:nth-child(1) {
  display: none;
}*/

/*****BREAKPOINT TO TABLETS 550px*****/
@media screen and (min-width: 550px) {
  .section__Technology {
    padding: 0 0 97px 0;
  }

  /*.section__ilustration-Technology_Size{
    height: 310px;
  }
  */

  .section__Ilustration-Technology {
    margin: 0 0 56px 0;
  }

  .section__Button-Space-Launch {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.5px;
    width: 58px;
    height: 58px;
  }

  .section__Space-Launch {
    margin: 0 0 44px 0;
  }

  .section__subheading-level2-technology_Mod--Text {
    margin: 0 0 16px 0;
  }

  .section__description-text-technology_Mod--Text {
    text-align: center;
    margin: 0 auto;
    max-width: 458px;
  }

  .section__Content-Technology {
    margin: 0 0 0px 0;
  }

  .section__ilustration-Technology_Size {
    width: 100%;
  }
}

/*****BREAKPOINT 960px TO DESKTOP*****/
@media screen and (min-width: 960px) {
  .section__Technology {
    padding: 40px 0 101px 0;
  }

  .section-title-level5_Mod--Text {
    margin-bottom: 26px;
  }

  .section__Button-Space-Launch {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    width: 80px;
    height: 80px;
  }

  .section__Space-Launch {
    margin: 0;
    grid-area: a;
    /*flex-flow: column nowrap;*/
    gap: 32px;
  }

  .section__Container-Description-Technology {
    grid-area: b;
  }

  .section__Ilustration-Technology {
    margin: 0 0 0 0;
    grid-area: c;
  }

  .section__subheading-level2-technology_Mod--Text {
    text-align: left;
    margin: 0 0 11px 0;
  }

  .section__title-level3-technology_Mod--Text {
    text-align: left;
    margin: 0 0 17px 0;
  }

  .section__description-text-technology_Mod--Text {
    text-align: left;
    margin: 0 0;
    max-width: 444px;
  }

  .section__Content-Technology {
    display: grid;
    grid-template-areas:
      "a a"
      "b c";
    grid-template-columns: minmax(min-content, 470px) minmax(min-content, 515px);
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 0 20px;
  }
}

/*****BREAKPOINT 1200px to DESKTOP*****/
@media screen and (min-width: 1250px) {
  .section__Space-Launch {
    margin: 0;
    grid-area: a;
    flex-flow: column nowrap;
    gap: 32px;
  }

  .section__Content-Technology {
    grid-template-areas:
      "a b c";
    grid-template-columns: minmax(min-content, 80px) minmax(min-content, 470px) minmax(min-content, 515px);
    gap: 80px;
    padding: 0px;
  }
}
