@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-01: #0b0d17;
  --color-02: #d0d6f9;
  --color-03: #ffffff;
  --color-04: #979797;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/*****MOBILE-FIRST******/

/***TITLES***/
.Title-Level1 {
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-03);
}

.Title-Level5 {
  color: var(--color-02);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-align: center;
}

.title-level5__Number-Page {
  display: inline-block;
  font-weight: 700;
  margin-right: 18px;
  color: var(--color-04);
}

.Body-Page{
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /*line-height: 32px;*/
  /*position: relative;*/ /*relative a menu in mobile-first*/
  /*overflow: hidden;*/ /*menu mobile-first translate overflow*/
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*transition: background 3s ease;*/
}

.Description {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--color-02);
}

.Main{
  min-height: 100vh;
}

/***BACKGROUND-IMAGENS MOBILE***/

.body-page_Bg--Home/*[data-bg-page="/"], [data-bg-page="home"]*/{
  background-image: url("./images/home/background-home-mobile.jpg");
}

.body-page_Bg--Destination/*[data-bg-page="destination"]*/{
  background-image: url("./images/destination/background-destination-mobile.jpg");
}

.body-page_Bg--Crew/*[data-bg-page="crew"]*/{
  background-image: url("./images/crew/background-crew-mobile.jpg");
}

.body-page_Bg--Technology/*[data-bg-page="technology"]*/{
  background-image: url("./images/technology/background-technology-mobile.jpg");
}