@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-01: #0b0d17;
  --color-02: #d0d6f9;
  --color-03: #ffffff;
  --color-04: #979797;
  --color-05: #383b4b;
}

/*****MOBILE-FIRST******/

/***TITLES AND SUBTITLES AND DESCRIPTIONS TEXT***/

h1,
h2,
h3,
h4,
.section__Subheading-Level1-Destination {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.section__Title-Level1-Home {
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-03);
}

.section__Title-Level3-Destination {
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: var(--color-03);
}

.section__Title-Level3-Crew,
.section__Title-Level3-Technology {
  font-size: 24px;
  line-height: 28px;
}

.section__Title-Level4-Crew {
  font-size: 16px;
  line-height: 18px;
}

.section__Title-Level5-Home,
.section__Title-Level5-Destination,
.section__Title-Level5-Crew,
.section__Title-Level5-Technology {
  color: var(--color-02);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.section-title-level5__Number-Page {
  display: inline-block;
  font-weight: 700;
  margin-right: 18px;
  color: var(--color-04);
}

.section-title-level5_Mod--Text {
  margin: 24px 0 32px 0;
  text-align: center;
  color: var(--color-03);
}

.section__Subheading-Level1-Destination {
  font-size: 28px;
  line-height: 32px;
  color: var(--color-03);
  text-transform: uppercase;
}

.section__Subheading-Level2-Destination,
.section__Subheading-Level2-Technology {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: var(--color-02);
}

.section__Description-Text-Home,
.section__Description-Text-Destination,
.section__Description-Text-Crew,
.section__Description-Text-Technology {
  font-size: 15px;
  line-height: 25px;
  color: var(--color-02);
}

/*****BODY PAGE*****/

.Body-Page {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /*line-height: 32px;*/
  position: relative; /*relative a menu in mobile-first*/
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-01);
}

.Main {
  min-height: 100vh;
}

/*****SECTIONS*****/

.Section {
  padding: 24px 24px 48px 24px;
}

/*****LIST AND TABS*****/

.section__List,
.section__List-Teams,
.section__Space-Launch {
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/*****IMAGES ILUSTRATIONS*****/

.section__Ilustration-Destination,
.section__Ilustration-Crew,
.section__Ilustration-Technology {
  display: block;
}

.section__Img-Destination,
.section__Img-Crew,
.section__Img-Technology {
  display: block;
  max-width: 100%;
}

/*****BACKGROUND-IMAGENS MOBILE-FIRST*****/

.body-page_Bg--Home {
  background-image: url("./images/home/background-home-mobile.jpg");
  background-position: center bottom;
}

.body-page_Bg--Destination {
  background-image: url("./images/destination/background-destination-mobile.jpg");
}

.body-page_Bg--Crew {
  background-image: url("./images/crew/background-crew-mobile.jpg");
  background-blend-mode: normal;
}

.body-page_Bg--Technology {
  background-image: url("./images/technology/background-technology-mobile.jpg");
}

.body-page_Bg--Error{
  background-image: url("./images/error/space-bg-mediun.jpg");
}

/******BREAKPOINT 550px****/
@media screen and (min-width: 550px) {
  /*****BACKGROUND-IMAGENS TO TABLETS*****/
  .body-page_Bg--Home {
    background-image: url("./images/home/background-home-tablet.jpg");
  }

  .body-page_Bg--Destination {
    background-image: url("./images/destination/background-destination-tablet.jpg");
  }

  .body-page_Bg--Crew {
    background-image: url("./images/crew/background-crew-tablet.jpg");
  }

  .body-page_Bg--Technology {
    background-image: url("./images/technology/background-technology-tablet.jpg");
  }

  /*****TEXT AND TITLES TO TABLETS*****/
  .section__Title-Level5-Home,
  .section__Title-Level5-Destination,
  .section__Title-Level5-Crew,
  .section__Title-Level5-Technology {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .section-title-level5_Mod--Text {
    margin: 40px 0 60px 39px;
    text-align: left;
  }

  .section__Title-Level1-Home {
    font-size: 150px;
    line-height: 150px;
  }

  .section__Description-Text-Home,
  .section__Description-Text-Destination,
  .section__Description-Text-Crew,
  .section__Description-Text-Technology {
    font-size: 16px;
    line-height: 28px;
  }

  .section__Title-Level3-Destination {
    font-size: 80px;
    line-height: 92px;
  }

  .section__Title-Level3-Crew,
  .section__Title-Level3-Technology {
    font-size: 40px;
    line-height: 46px;
  }

  .section__Title-Level4-Crew {
    font-size: 24px;
    line-height: 28px;
  }

  .section__Subheading-Level2-Technology {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}

/******BREAKPOINT 960px to DESKTOP****/
@media screen and (min-width: 960px) {
  /*BACKGROUND IMAGES*/
  .body-page_Bg--Home {
    background-image: url("./images/home/background-home-desktop.jpg");
  }

  .body-page_Bg--Destination {
    background-image: url("./images/destination/background-destination-desktop.jpg");
  }

  .body-page_Bg--Crew {
    background-image: url("./images/crew/background-crew-desktop.jpg");
  }

  .body-page_Bg--Technology {
    background-image: url("./images/technology/background-technology-desktop.jpg");
  }

  /**TEXTS AND TITLES**/
  .section__Title-Level5-Home,
  .section__Title-Level5-Destination,
  .section__Title-Level5-Crew,
  .section__Title-Level5-Technology {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }

  .section__Title-Level3-Destination {
    font-size: 100px;
    line-height: 115px;
  }

  .section-title-level5_Mod--Text {
    margin: 76px 0 64px 166.5px;
    text-align: left;
  }

  .section__Title-Level1-Home {
    line-height: 172px;
    text-align: left;
  }

  .section__Description-Text-Home,
  .section__Description-Text-Destination,
  .section__Description-Text-Crew,
  .section__Description-Text-Technology {
    font-size: 18px;
    line-height: 32px;
  }

  .section__Title-Level4-Crew {
    font-size: 32px;
    line-height: 37px;
  }

  .section__Title-Level3-Crew,
  .section__Title-Level3-Technology{
    font-size: 56px;
    line-height: 64px;
  }
}
